*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Geist;
    src: url(assets/fonts/Geist/Geist-VariableFont_wght.ttf);
}

:root {
    font-family: Geist;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    vertical-align: middle;  
    letter-spacing: 0;  

  --dark-blue1: #0C2745;
  --dark-blue2: #1E2329;
  --dark-blue3: #133E67;
  --half-dark-blue: #274172;
  --blue1: #0F67BE;
  --blue2: #2B4E8E;
  --blue3: #1D89DA;
  --light-blue: #4DA9EC;
  --contrast: #FFFFFF;
  --default: #A1B0C0;
  --gold: #FFC700;

  --default-time: 0.2s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: var(--dark-blue1);
  color: var(--default);
}

#app{
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
